.site_color {
   color: $colorMainSite;
}

.shell {
   padding-left: 16px;
   padding-right: 16px;
}

.cart {
   &__container {
      display: flex;
      justify-content: start;
   }
   &-indents {
      padding-top: 96px;
      padding-bottom: 128px;
   }
}

.cards {
   @extend %flexColumn;
   gap: 40px;
}

.card {
   position: relative;
   max-width: 652px;
   max-height: 306px;
   background-color: #fff;
   filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
   display: flex;
   &_img {
      box-sizing: border-box;
   }
   &_info {
      padding: 22px 97px 60px 31px;
   }
   &_close {
      position: absolute;
      top: 28px;
      right: 22px;
      cursor: pointer;
   }
   &_goodsname {
      color: #222;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 42px;
   }
   &_goodsprice {
      color: #575757;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 6px;
   }
   &_goodscolor {
      color: #575757;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 6px;
   }
   &_goodssize {
      color: #575757;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 6px;
   }
   &_goodsquantity {
      color: #575757;
      font-size: 22px;
      font-weight: 400;
      & span {
         margin-left: 24px;
         padding: 1px 16px;
         border: 0.5px #eaeaea solid;
      }
   }
}

.buttons {
   margin-top: calc(72px - 40px);
   @extend %flexRowBetween;
   &__btn {
      color: #000;
      background-color: #fff;
      border: 0.5px #a4a4a4 solid;
      font-size: 14px;
      font-weight: 300;
      padding: 16px 40px;
      cursor: pointer;
      transition: filter 0.3s;
      &:hover {
         filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
      }
   }
}

.checkout {
   padding-top: 17px;
   @extend %flexColumn;
   margin-left: 128px;
   width: 360px;
   gap: 57px;
}

.proceed {
   @extend %flexColumn;
   align-items: end;
   width: 100%;
   padding: 39px 34px 42px;
   box-sizing: border-box;
   background-color: #f5f3f3;
   & span {
      margin-left: 26px;
   }
   &_subtotal {
      margin-bottom: 12px;
      color: #4a4a4a;
      font-size: 11px;
      font-weight: 400;
   }
   &_grandtotal {
      margin-bottom: 21px;
      color: #222;
      font-size: 16px;
      font-weight: 300;
      & span {
         margin-right: 3px;
         font-weight: 700;
         color: $colorMainSite;
      }
   }
   &_line {
      text-align: center;
      margin-bottom: 17px;
   }
   &_btn {
      width: 100%;
      align-self: center;
      padding-top: 15px;
      padding-bottom: 16px;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      background-color: #f16d7f;
      box-sizing: border-box;
      max-width: 273px;
      border: none;
      cursor: pointer;

      transition: background-color 0.3s;
      &:hover {
         // animation: wobble-hor-bottom 0.8s both;
         // background-color: #f26376;
         // color: #fff;
         animation: vibrate-2 0.3s linear infinite both;
      }
   }
}

.form {
   // @extend %flexColumn;
   // gap: 20px;
   &__header {
      color: #222;
      font-size: 16px;
      font-weight: 300;
   }
   &__textfield {
      outline: none;
      display: block;
      padding: 13px 17px 16px;
      width: 100%;
      box-sizing: border-box;
      &:not(:nth-child(3)) {
         margin-bottom: 20px;
      }
      &::placeholder {
         font-size: 13px;
         font-weight: 300;
         color: #b1b1b1;
      }
   }
   &__state,
   &__zip {
      &::placeholder {
         color: #222;
      }
   }
   &__btn {
      padding: 11px 15px;
      margin-top: 24px;
      color: #4a4a4a;
      font-size: 11px;
      font-weight: 300;
      background-color: #fff;
      border: 0.5px #a4a4a4 solid;
      cursor: pointer;
      transition: filter 0.3s;
      &:hover {
         filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
      }
   }

   // & input {
   //    outline: none;
   //    display: block;
   //    padding: 13px 17px 16px;
   //    width: 100%;
   //    box-sizing: border-box;
   //    &:not(:nth-child(3)) {
   //       margin-bottom: 20px;
   //    }
   // }
}
