.heading {
   background-color: #f8f3f4;
   margin: 0 auto;
   padding-left: 16px;
   padding-right: 16px;
   &__content {
      padding-top: 59px;
      padding-bottom: 60px;
      @extend %flexRowBetween;
   }
   &__header {
      color: $colorMainSite;
      font-size: 24px;
      font-weight: 400;
   }
   &__selected-crumble {
      color: $colorMainSite;
      font-weight: bold;
   }
}

.breadcrumbles {
   @extend %flexRowStart;
   list-style-type: none;
   &__item {
      margin-right: 5px;
   }
   &__item:last-child &__link {
      color: $colorMainSite;
   }
   &__item + &__item::before {
      content: "/";
      margin-right: 6px;
      color: #636363;
      font-size: 14px;
      font-weight: 300;
   }
   &__link {
      color: #636363;
      font-size: 14px;
      font-weight: 300;
   }
}

.slider {
   @extend %flexRowCenter;
   background-color: #f7f7f7;
   padding-left: calc(50% - $siteWidth / 2);
   padding-right: calc(50% - $siteWidth / 2);
   &__container {
      // width: 1600px;
      width: 100%;
      padding-top: 11px;
      padding-bottom: 42px;
      position: relative;
      border: 1px solid #eaeaea;
      &_leftarrow {
         position: absolute;
         left: 0;
         top: 338px;
         cursor: pointer;
         &:hover path:last-child {
            fill: #f16d7f;
         }
      }
      &_rightarrow {
         position: absolute;
         right: 0;
         top: 338px;
         cursor: pointer;
         &:hover path:last-child {
            fill: #f16d7f;
         }
      }
   }
   &__content {
      @extend %flexRowCenter;
   }
}

.slideinfo {
   @extend %flexRowCenter;
   background-color: #ffffff;
   &__container {
      width: 1140px;
      margin-top: -65px;
      z-index: 10;
      background-color: #ffffff;
   }
   &__info {
      padding-top: 65px;
      padding-bottom: 65px;
      @extend %flexColumnCenter;
      border: 1px solid #eaeaea;
      &_header {
         color: #f16d7f;
         font-size: 14px;
         line-height: normal;
         font-family: Lato;
         font-weight: 300;
         margin-bottom: 12px;
         color: #f16d7f;
      }
      &_line {
         width: 63px;
         border: 2px solid #ef5b70;
         margin-bottom: 12px;
      }
      &_subheader {
         color: #4d4d4d;
         font-size: 18px;
         font-weight: 300;
         margin-bottom: 49px;
      }
      &_text {
         color: #5e5e5e;
         text-align: center;
         font-size: 14px;
         font-weight: 300;
         max-width: 550px;
         margin-bottom: 32px;
      }
      &_price {
         color: #ef5b70;
         font-size: 24px;
         font-weight: 300;
         margin-bottom: 64px;
      }
      &_greyline {
         width: 642px;
         border: 0.5px solid #eaeaea;
         margin-bottom: 64px;
      }
      &_choosing {
         display: flex;
         align-items: center;
         gap: 23px;
         color: #6f6e6e;
         font-size: 14px;
         font-weight: 400;
         margin-bottom: 48px;
         cursor: pointer;
         &_item {
            display: flex;
            align-items: center;
            gap: 9px;
            & img {
               width: 10px;
               height: 5px;
            }
         }
      }
   }
}

.goods {
   &__cards {
      &_product {
         padding-top: 128px;
         padding-bottom: 128px;
      }
   }
}

@media (max-width: 1171px) {
   .goods__cards_product .goods__cards_container:last-child,
   .goods__cards_catalog .goods__cards_container:last-child {
      display: none;
   }
}

@media (max-width: 800px) {
   .slider__container {
      padding-top: 30px;
      padding-bottom: 29px;
   }

   .slideinfo__container {
      width: 100%;
      margin-top: 0;
   }

   .goods__cards_product {
      padding-top: 128px;
      //  padding-bottom: 128px;
   }
}
