summary {
   display: block;
}

summary::-webkit-details-marker {
   display: none;
}

.filter {
   position: relative;
   padding-top: 13px;
   width: 360px;
   box-sizing: border-box;
   z-index: 10;
   &[open] .filter__heading {
      color: $colorMainSite;
   }
   &[open] path {
      fill: $colorMainSite;
   }
   &[open] {
      background: #fff;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
   }
   &__content {
      background-color: #fff;
      padding-top: 0;
      padding-right: 16px;
      padding-bottom: 16px;
      padding-left: 16px;
   }
   &__summary {
      display: flex; // Убирает треугольник
      align-items: center;
      gap: 11px;
      padding-left: 16px;
      cursor: pointer;
   }
   &-sort {
      position: relative;
      height: 132px;
      display: flex;
      gap: $gapGrid;
      padding-top: 39px;
      box-sizing: border-box;
   }
   &__heading {
      font-family: Lato;
      font-style: normal;
      font-size: 14px;
      line-height: 17px;
      line-height: normal;
      font-weight: 600;
      color: $colorText;
   }
   &__item {
      margin-top: 16px;
      &[open] .filter__head {
         color: $colorMainSite;
      }
   }
   &__link {
      color: #6f6e6e;
      font-size: 14px;
      line-height: normal;
      font-family: Lato;
      font-style: normal;
      font-weight: 400;
      &-box {
         display: flex;
         flex-direction: column;
         gap: 11px;
         padding: 24px 16px;
      }
      &:hover {
         cursor: pointer;
         color: $colorMainSite;
      }
   }
   &__head {
      padding: 8px 11px 11px;
      border-bottom: 1px solid #ebebeb;
      border-left: 5px solid $colorMainSite;
      font-family: Lato;
      font-style: normal;
      font-size: 14px;
      line-height: 17px;
      line-height: normal;
      font-weight: 600;
      color: $colorText;
      cursor: pointer;
   }
}

.sort {
   padding-top: 12px;
   display: flex;
   z-index: 10;
   gap: 18px;
   &__details {
      position: relative;
   }
   &__summary {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
   }
   &__heading {
      color: #6f6e6e;
      font-size: 14px;
      // font-family: Lato;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   &__box {
      position: absolute;
      left: -9px;
      top: 22px;
      background: #fff;
      box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
      padding: 7px 30px 11px 9px;
      display: flex;
      flex-direction: column;
      gap: 6px;
   }
   &__check {
      display: flex;
      // justify-content: center;
      align-items: center;
      gap: 9px;
      color: #6f6e6e;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}
