@import 'variables';


.arrivals__content {
   padding-top: 60px;
   padding-bottom: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #f8f3f4;
   // background-color: red;
}

.arrivals__left_heading {
   color: $colorMainSite;
   font-size: 24px;
   font-family: Lato;
   font-style: normal;
   font-weight: 400;
   line-height: normal;

}

.arrivals__right_heading {
   color: #636363;
   font-size: 14px;
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
}


.arrivals__right_heading-span {
   color: $colorMainSite;
   font-weight: bold;
}

.slider {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f7f7f7;
}

.slider__container {
   width: 1600px;
   padding-bottom: 65px;
   position: relative;
   border: 1px solid #EAEAEA;
}

.slider__container_leftarrow {
   position: absolute;
   left: 0;
   top: 338px;
   cursor: pointer;
}

.slider__container_leftarrow:hover path:last-child {
   fill: #F16D7F;
}

.slider__container_rightarrow:hover path:last-child {
   fill: #F16D7F;
}

.slider__container_rightarrow {
   position: absolute;
   right: 0;
   top: 338px;
   cursor: pointer;
}

.slider__content {
   display: flex;
   justify-content: center;
   align-items: center;
}

.slideinfo {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
}

.slideinfo__container {
   width: 1140px;
   margin-top: -65px;
   z-index: 10;
   background-color: #ffffff;
}

.slider__info {
   padding-top: 65px;
   padding-bottom: 65px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 1px solid #EAEAEA;
}

.slider__info_header {
   color: #F16D7F; 
   font-size: 14px; 
   line-height: normal;
   font-family: Lato; 
   font-weight: 300;
   margin-bottom: 12px;
   color: #F16D7F;
}

.slider__info_line {
   width: 63px;
   border: 2px solid #EF5B70;
   margin-bottom: 12px;
}

.slider__info_subheader {
   color: #4D4D4D;
   font-size: 18px;
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   margin-bottom: 49px;
}

.slider__info_text {
   color: #5E5E5E;
   text-align: center;
   font-size: 14px;
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   max-width: 550px;
   margin-bottom: 32px;
}

.slider__info_price {
   color: #EF5B70;
   font-size: 24px;
   font-family: Lato;
   font-style: normal;
   font-weight: 300;
   line-height: normal;
   margin-bottom: 64px;
}

.slider__info_greyline {
   width: 642px;
   border: .5px solid #eaeaea;
   margin-bottom: 64px;
}

.slider__info_choosing {
   color: #6F6E6E;
   font-size: 14px;
   font-family: Lato;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   margin-bottom: 48px;
}

.slider__info_choosing {
   cursor: pointer;
}

.slider__info_choosing_item:not(:last-child) {
   display: inline-block;
   margin-right: 42px;
   position: relative;
}

.slider__info_choosing_item::after {
   position: absolute;
   width: 10px;
   height: 5px;
   margin-left: 9px;
   margin-top: 6px;
   content: "";
   background: url("../img/product_down_arrow.svg");
}